
                                                                            /*TODO: Body styling */
body {
  background-color: whitesmoke;
}

                                                                            /* TODO:Navbar in javascript file */
#back-color {
  /** color code */
  background: rgb(0, 33, 71);

}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  max-height: 200px;
  width: 100%;
  z-index: 10;
  overflow: auto;
}
.navbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.navbar:hover::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgb(255, 147, 5);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:after,
a:before {
  transition: all .5s;
}

.nav-img {
  height: 30px;
  width: 30px;
  padding: 5px;
  background: cadetblue;
  border-radius: 50%;
}

.navbar a {
  position: relative;
}

.navbar a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(255, 147, 5);
  height: 1px;
}

.navbar a:hover:after {
  width: 100%;
  height: 3px;
}

.right-nav {
  text-align: right;
  width: 50%;
}

                                                                              /*TODO: Blocks [ home.html ,index.html ] */
.d-block {
  /** Display a block content */
  display: flex;
  width: 100%;
  max-height: 500px;
  
}

@media only screen and (max-width: 600px) {
  .d-block {
    object-fit: cover;
    display: flex;
    max-height: 200px;
  }
}

                                                                              /*TODO: Footer styling codes */
.footer {
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(2, 28, 57);
  color: snow;
  text-align: center;
  font-stretch: expanded;
}

.tdrow {
  /** Contact details */
  text-align: start;
  text-align: justify;
  padding: 1ch;
}

                                                                                     /*TODO: Badge */
.pill {
  /** Badge styles for content heading */
  border: 2px;
  background-color: #002147;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 8px;
  color: whitesmoke;
  max-width: fit-content;
  border-radius: 50px 50px;
  text-transform: uppercase;
  font-size: 20px;
}

                                                                                      /*TODO: Cards [ faculty.html ] */
.card-body .card-title .badge {
  background-color: #016064;
}

.card {
  background-color: #ffffffd3;
  height: 300px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 4.2px 8.3px 8.3px hsl(0deg 0% 0% / 0.37);
  overflow: auto;
  z-index: 7;
}

.card:hover::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.card:hover::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: grey;

}

.card-text {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-img-top {
  size: 20px;
  border-radius: 50%;
}

                                                                                      /*TODO: Center style */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: block;
}

                                                                                            /*TODO: Faculty detail */
.bg_img {
  /** Images of fauclty members */
  background-image: url(image/logos/bg_gu.webp);
  height: auto;
  padding: 15%;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.pr_center {
  /** Titles of the images */
  text-align: center;
  color: white;
}

                                                                                                /* TODO: Breadcrumbs */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;

}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #000000;
  text-decoration: none;
}

ul.breadcrumb li a:hover {

  color:rgb(55, 112, 177);
  text-decoration: underline;
}

                                                                                          /*TODO: More [ home.html ] */
#more {
  display: none;
}
.Moreless {
  font-family: 'Roboto Condensed';
  text-align: justify;
}

#buttonreadmore {
  border-color: #2196F3;
  color: dodgerblue
}

#buttonreadmore:hover {
  background: #2196F3;
  color: white;
}


ul.westside {
  text-align: justify;
  font-family: 'Roboto Condensed';
  font-size: 16px;
}

                                                                                            /*TODO: Collaborator scroll [ home.html ] */
div.scroll {
  padding-left: 7%;
  padding-right: 7%;
  margin: 4px, 4px;
  background-color: whitesmoke;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

img.img {
  align-items: center;
  max-height: 80px;
}

                                                                                          /* TODO: Pie-chart [ home.html ] */
#doughnutChart {
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 200px;
  min-height: 200px;
  max-width: 550px;
  max-height: 450px;
}

                                                                                          /*TODO: Faculty detail tables */
.fd-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: block;
}

                                                                                  /* TODO: Top javascript button [ home.html ] */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border:none;
  background-color: rgb(11, 64, 124);
  color: white;
  cursor: pointer;
  padding:10px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: rgb(62, 126, 200);
}